/* List Page */
#list-page .post-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(15, 80, 100, 0.16);
    padding: 1rem 0;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

#list-page .post-list-item:hover {
    background-color: rgba(15, 80, 100, 0.05); /* Subtle hover effect */
}

#list-page .post-list-item:last-child {
    border-bottom: none;
}

#list-page .post-title {
    flex: 1;
    margin: 0;
    text-decoration: none; /* Remove underline */
}

#list-page .post-title h3 {
    color: var(--text-color); /* Use primary text color */
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600; /* Slightly bolder title */
    transition: color 0.3s ease; /* Smooth color transition */
}

#list-page .post-title:hover h3 {
    color: var(--primary-color); /* Change color on hover */
}

#list-page .post-date {
    color: var(--text-secondary-color);
    opacity: 0.8;
    font-size: 0.9rem;
    margin-left: 1rem;
    white-space: nowrap; /* Prevent date from wrapping */
}

/* Pagination */
#list-page ul.pagination {
    margin-top: 2rem;
}

#list-page ul.pagination li a {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
    transition: none;
}

#list-page ul.pagination li a:focus {
    box-shadow: none;
}

#list-page .page-item.active .page-link {
    border-color: var(--primary-color);
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}
